!build

# Created by https://www.gitignore.io

### CMake ###
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt


### Autotools ###
# http://www.gnu.org/software/automake

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

/config.status
/contrib/addtiffo/.deps/
/contrib/addtiffo/.libs/
/contrib/addtiffo/addtiffo
/contrib/dbs/.deps/
/contrib/dbs/.libs/
/contrib/dbs/tiff-bi
/contrib/dbs/tiff-grayscale
/contrib/dbs/tiff-palette
/contrib/dbs/tiff-rgb
/contrib/iptcutil/.deps/
/contrib/iptcutil/.libs/
/contrib/iptcutil/iptcutil
/extraignore
/libtiff/.deps/
/libtiff/.libs/
/libtiff/mkg3states
/libtiff/stamp-h1
/libtiff/stamp-h2
/libtiff/tif_config.h
/libtiff/tiffconf.h
/libtool
/port/.deps/
/test/.deps/
/tools/.deps/
/tools/.libs/
/tools/bmp2tiff
/tools/fax2ps
/tools/fax2tiff
/tools/gif2tiff
/tools/pal2rgb
/tools/ppm2tiff
/tools/ras2tiff
/tools/raw2tiff
/tools/rgb2ycbcr
/tools/thumbnail
/tools/tiff2bw
/tools/tiff2pdf
/tools/tiff2ps
/tools/tiff2rgba
/tools/tiffcmp
/tools/tiffcp
/tools/tiffcrop
/tools/tiffdither
/tools/tiffdump
/tools/tiffinfo
/tools/tiffmedian
/tools/tiffset
/tools/tiffsplit
